body {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
    margin: 0px;
    padding: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 65px;
}
body {
    background: url(../img/fondo.png) no-repeat center center fixed;
    background-size: cover;
    z-index: 0;
}

.containerPrincipal {
    width: 100%px;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}

.partederechajugeo {
    width: 1000px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin: 5px;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
    z-index: 3;
}

.btnJugar {
    width: 320px;
    margin-top: 5px;
}
.btnJugar:hover {
    transform: scale(1.05, 1.05);
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.grid {
    /*
    background-color: rgb(91, 165, 17);*/
    background-image: url(../img/imagendelFondo2.png);
    background-size: cover;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 1000px;
}

.grid div {
    /*background-image: url(../img/suelo.png) ;
    background-size: cover;*/
    height: 50px;
    width: 50px;
}

.moduloDAM {
    /* background-color: rgb(122, 124, 121) !important;*/
    background-image: url(../img/ciclos/mDAM.png) !important;
    background-size: cover;
}
.moduloDAW {
    /* background-color: rgb(122, 124, 121) !important;*/
    background-image: url(../img/ciclos/mDAW.png) !important;
    background-size: cover;
}
.moduloMRK {
    /* background-color: rgb(122, 124, 121) !important;*/
    background-image: url(../img/ciclos/mMARKETING.png) !important;
    background-size: cover;
}
.moduloTURISMO{
    background-image: url(../img/ciclos/mTURISMO.png) !important;
    background-size: cover; 
}

.modulo2 {
    background-color: rgb(165, 38, 154);
}

.modulo3 {
    background-color: rgb(207, 90, 23);
}
.start {
    /* background-color: rgb(0, 0, 0);*/
}
.m1{
  /*  background-image: url(../img/mina/mina1.png) !important ;
    background-size: cover;*/
}
.c0 {
    background-image: url(../img/sierra.png) !important ;
    background-size: cover;
    animation: movimientoFuego 0.8s infinite;

}
@keyframes movimientoFuego {
    0%{   transform: rotate(45deg);
      
    }
    50%{
        transform: rotate(360deg);

    }
    100%{   transform: rotate(45deg);
        

    }
    
}

.c1 {
    background-image: url(../img/mina.png) !important ;
    background-size: cover;
    animation: movimientoMina 5s infinite;

}
@keyframes movimientoMina {
    0%{   transform: rotate(10deg);
      
    }
    50%{
        transform: rotate(90deg);

    }
    100%{   transform: rotate(10deg);
        

    }
    
}



.l1,
.l2 {
    background-image: url(../img/agua.png) !important;
}

.l3 {
    background-image: url(../img/l1.png) !important;
}
.l4 {
  
    background-image: url(../img/l2.png) !important;
}
.l5 {
   
    background-image: url(../img/l3.png) !important;
}

.player {   
    background-image: url(../img/player.png) !important;
    background-size: cover;
    animation: movimientoPlayer 5s infinite;
    position: relative;
  
}

@keyframes movimientoPlayer {
    0%{   transform: rotate(45deg);
      
    }
    50%{
        transform: rotate(360deg);

    }
    100%{   transform: rotate(45deg);
        

    }
    
}

.generic {
   /* background-image: url(../img/suelo.png);
    background-size: cover;*/
    height: 50px;
    width: 50px;
}


.s1, .s2, .s3, .s4, .s5{}

.gameOver {
    background-color: black;
}

.pantallaStart {
    
    background-image: url(../img/fondoStart2.png);
    background-size: cover;
    width: 1000px;
    height: 700px;
    border-radius: 60px;
}

.tiempo {
    position: fixed;
    right: 110px;
    top: 5px;
    font-size: 70px;
    font-family: fantasy;
    color: rgb(200, 241, 16);
    text-shadow: black 0.1em 0.1em 0.2em;
    opacity: 0%;
}

@keyframes posicionarTemporizador {
    0% {
        right: -150px;
        opacity: 0%;
    }
    100% {
        right: 110px;
        opacity: 100%;
    }
}

.principalStart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.explicacion {
    background-color: rgba(44, 58, 206, 0.2);
    color: rgb(255, 255, 255);
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
    font-family: cursive;
    font-style:italic;
    font-weight:bold ;
    
}

.botonPlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nube1 {
    height: 95px;
    width: 225px;
    animation-name: moverNube;
    animation-duration: 20s;
    position: fixed;
    top: 200px;
    left: 10px;
    background-image: url(../img/nuve.png);
    background: cover;
    animation-iteration-count: infinite;
    z-index: 2;
    opacity: 75%;
}

@keyframes moverNube {
    0% {
        top: 600px;
        left: 10px;
    }
    50% {
        left: 200px;
    }
    100% {
        top: 600px;
        left: 10px;
    }
}

.tituloJuego {
    animation-name: moverTitulo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    top: 20px;
    position: relative;


}
@keyframes moverTitulo {
    0% {
        top: 20px;
    }

    50% {
        top: 10px;
    }
    100% {
        top: 20px;
    }
}

.imgTituloDentroStart{
    width: 550px;
}

.vida1 {
    filter: drop-shadow(0 0 0.75rem crimson);
    position: fixed;
    right: 120px;
    top: 1200px;
  
}
.vida2 {
    filter: drop-shadow(0 0 0.75rem crimson);
    position: fixed;
    right: 120px;
    top: 1200px;

}
.vida3 {
    filter: drop-shadow(0 0 0.75rem crimson);
    position: fixed;
    right: 120px;
    top: 1200px;
   
}


@keyframes posicionarCorazon1 {
    0% {
        top: 1200px;
    }
    100% {
        top: 180px;
    }
}
@keyframes posicionarCorazon2 {
    0% {
        top: 1200px;
    }
    100% {
        top: 292px;
    }
}
@keyframes posicionarCorazon3 {
    0% {
        top: 1200px;
    }
    100% {
        top: 404px;
    }
}

@keyframes moverCorazon {
    0% {
        opacity: 100%;
    }
    25% {
        opacity: 0%;
    }

    50% {
        width: 6%;
        top:600px;
        opacity: 100%;
        transform: rotate3d(0, 7, 0, 720deg);
    }
    100% {
        opacity: 0%;
    }
}

.divOuch{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.ouch{
    position: fixed;
    top:150px; 
    opacity:0%;  
    /*animation:ouch 1s infinite;*/
}

@keyframes animationOuch{
    0%{
        opacity: 0%;
        width:30%;
    }
    50%{
        opacity: 100%;
        width:40%;
    }
    100%{
        opacity: 0%;
        width:30%;

    }
}
.divOuch2{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.ouch2{
    position: fixed;
    top:150px; 
    opacity:0%;  
    /*animation:ouch 1s infinite;*/
}

.flechaSlide{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:200px;
   animation:moverFlecha 1.5s infinite

}
@keyframes moverFlecha{
    0%{left:500px;
        opacity: 0%;
        

    }
    10%{
        opacity:100%;
    }
    50%{
        opacity:70%;
    }
    90%{

        opacity:100%;
    }
    100%{
        opacity: 0%;
        left:1200px
    }
}

.pantallaGameOver{
    background-image: url(../img/fondoStart3.png);
    background-size: cover;
    width: 1000px;
    height: 700px;
    border-radius: 60px;
}
.gameOver{
    border-radius: 100%;
    opacity:40%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    color: rgb(0, 0, 0);
}
.pantallaWin{
    background-image: url(../img/fondoStart.png);
    background-size: cover;
    width: 1000px;
    height: 700px;
    border-radius: 60px;
}

.parrafoGameOver{
    text-shadow: 1px 3px 4px rgba(0,0,0,0.45);
}

.puntuacion{
    position: absolute;
    display: flex;
    justify-content: center;
    
}
.puntuacionNumerica{
    font-family: cursive;
    font-style:italic;
    font-weight:bold ;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: large;
}
.tabla-personalizada{
    margin-top: 20px;
}

.botonSalir{
    position: fixed;
    bottom: 30px;
    width: 250px;
    right: 30px;
  z-index: 200;
}
